@import "node_modules/lbh-frontend/lbh/all";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-wrapper {
  padding: 4rem;

  h1 {
    margin-bottom: 3rem;
  }

  table {
    margin-top: 3rem;
  }

  .message {
    margin-top: 3rem;
  }
}
